<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sanan Inventory | Stok Masuk</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              green: "#3C6255",
              white: "#F5F5F5",
              sage: "#617F75",
              black: "#000000",
            },
          },
        },
      };
    </script>
  </head>
  <body>
    <h2>Pilih Barang</h2>
    <form action="/barang-masuk" method="post">
      <select name="idBarang">
        <% result.forEach((data)=> { %>
        <option value="<%=data.id%>"><%= data.nama_barang %></option>
        <% }) %>
      </select>
      <h2>Masukkan Quantity</h2>
      <input type="number" name="quantity" required />
      <button type="submit">Masukkan Barang</button>
    </form>
  </body>
</html>
