<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- <h1><%=quantity%></h1> -->
    <% for(var i=0; i < quantity; i++) { %>
    <img width="100in" height="100in" src="<%=address%>" alt="" />
    <% } %>
  </body>
</html>
