<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tampil Data</title>
</head>
<body>
    <ul>
        <% tampilData.forEach((data)=> { %>
            <li>
                <h2>
                    <%= data.id %>
                </h2>
                <p>
                    <%= data.nama_barang %>
                </p>
            </li>
            <hr />
        <% }) %>
    </ul>
</body>
</html>