

<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sanan Inventory | Laporan</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      tailwind.config ={
        theme: {
          extend: {
            colors:{
              green: '#3C6255',
              sage: '#617F75',
              white: '#F5F5F5',
            }
          }
        }
      }
    </script>
  </head>
  <body>
    <div
      class="flex h-screen bg-gray-50 dark:bg-gray-900"
      :class="{ 'overflow-hidden': isSideMenuOpen }"
    >
      <!-- Desktop sidebar -->
      <aside
        class="z-20 hidden w-64 overflow-y-auto bg-white dark:bg-gray-800 md:block flex-shrink-0"
      >
      <%- include('./partials/sidebar'); %>
      </aside>
      <!-- Mobile sidebar -->
      <!-- Backdrop -->
     
      <div class="flex flex-col flex-1 w-full">
        
        <header class="z-10 py-4 bg-white shadow-md dark:bg-gray-800">
          <div
            class="container flex items-center justify-between h-full px-6 mx-auto text-purple-600 dark:text-purple-300"
          >
          
            
            <ul class="flex items-center flex-shrink-0 space-x-6">
            </ul>
          </div>
        </header>
        <main class="h-full pb-16 overflow-y-auto">
                      <!-- Charts -->
                      <!-- <h2
                      class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
                    >
                      Charts
                    </h2> -->
                    <div class=" gap-6 mb-8 md:grid-cols-2">
                      <div
                        class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800"
                      >
                        <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
                          <p class="font-bold ...">Grafik Barang Saat Ini </p>
                        </h4>
                        <canvas id="barChart"></canvas>
                        <div
                          class="flex justify-center mt-4 space-x-3 text-sm text-gray-600 dark:text-gray-400"
                        >
                       
                        
                     
                    </div>
            <div class="container grid px-6 mx-auto">
              <h2
                class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
              >
              <p class="font-bold ...">Laporan</p>
              </h2>
              <!-- CTA --> 
              <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">
                <div class="pb-8">
                  <!-- <div class="pb-5">
                    <p class="font-semibold ...">Periode Laporan</p>
                  </div> -->
                    
                    <!-- <div class="flex flex-row ...">
                      <div><input type="radio" name="waktu">1 Minggu</div>
                      <div class="pl-20"><input type="radio" name="waktu">1 Bulan</div>
                      <div class="pl-20"><input type="radio" name="waktu">3 Bulan</div>
                      <div class="pl-20"><input type="radio" name="waktu">Pilih Jangka Waktu</div>
                    </div>    -->
                  </div>
                <div>
                    
                  <div class="pb-5">
                    <label> Jangka waktu</label>
                  </div>
                <form action="/laporan-detail" method="post">
                    <div class="flex flex-nowrap pb-8">
                        <div  class="basis-1/2"><input id="dateMin" type="date" name="tanggal_produksi" class="flex-auto w-80" required></div>
                        <div class="basis-1/2"><p class="text-center">s/d</p></div>
                        <div class="basis-1/2"><input id="dateMax" type="date" name="tanggal_expired" class="flex-auto w-80" required></div>
                    </div>
                    <div>
                        <button
                        class="mb-4 px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-sage border border-transparent rounded-lg active:bg-green hover:bg-green focus:outline-none focus:shadow-outline-purple" type="sum
                        "
                        >Selanjutnya
                        </button>
                    </div>
                </form>
                </div>
              </div>
            </div>
          </main>
        </div>
      </div>
      <script>

        
        const dateMin = document.getElementById("dateMin")
        const dateMax = document.getElementById("dateMax")
        // let dateMinVal=''
        dateMin.onchange = ()=>{
          // dateMinVal = 
          dateMax.min = dateMin.value
        }


        



         const bar = document.getElementById("barChart");
        let labelsPie = <%- JSON.stringify(nama_barang) %>;
        let dataPie = <%- JSON.stringify(quantity) %>;
        new Chart(bar, {
          type: "bar",
          data: {
            labels: labelsPie,
            datasets: [
              {
                label: "Stok Saat Ini",
                data: dataPie,
                // backgroundColor: Object.values(Utils.CHART_COLORS),
                borderWidth: 1,
              },
            ],
          },
          options: {
            scales: {
              y: {
                beginAtZero: true,
              },
            },
            plugins: {
        legend: {
          position: 'top',
        },
        title: {
          display: true,
          text: 'Barang Saat Ini'
        }
      }
          },
        });
      </script>
    </body>
  </html>