<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Pilih Barang</h2><form action="/barang-masuk">
      
      <select name="stok-masuk" id="stok-masuk">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
      <h2>Masukkan Quantity</h2>
      <input type="number" name="quantity" />
    </form>
  </body>
</html>
