<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Barang Keluar</title>
  </head>
  <body>
    <form method="post" action="/barang-keluar">
      <input type="text" name="idBarang" value="<%=result.id%>" />
      <h3>Nama</h3>
      <input
        type="text"
        name="namaBarang"
        disabled
        value="<%=result.nama_barang%>"
      />
      <h3>Tanggal Keluar</h3>
      <input type="date" name="tglKeluar" />
      <h3>Tanggal Expired</h3>
      <input type="date" name="tglExpired" />
      <h3>Quantity</h3>
      <input type="number" name="quantity" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
